In [19]:
import pandas as pd

In [20]:
og_df = pd.read_csv('NFL Play by Play 2009-2018 (v5).csv')
df = og_df.copy()

C:\Users\bootcamp\AppData\Local\Temp\ipykernel_12088\3805157203.py:1: DtypeWarning: Columns (42,166,167,168,169,174,175,178,179,182,183,188,189,190,191,194,195,203,204,205,218,219,220,231,232,233,238,240,241,249) have mixed types. Specify dtype option on import or set low_memory=False.
  og_df = pd.read_csv('NFL Play by Play 2009-2018 (v5).csv')

In [21]:
print(df.columns)

Index(['play_id', 'game_id', 'home_team', 'away_team', 'posteam',
       'posteam_type', 'defteam', 'side_of_field', 'yardline_100', 'game_date',
       ...
       'penalty_player_id', 'penalty_player_name', 'penalty_yards',
       'replay_or_challenge', 'replay_or_challenge_result', 'penalty_type',
       'defensive_two_point_attempt', 'defensive_two_point_conv',
       'defensive_extra_point_attempt', 'defensive_extra_point_conv'],
      dtype='object', length=255)

In [22]:
print(df['posteam'][0:5])

0    PIT
1    PIT
2    PIT
3    PIT
4    PIT
Name: posteam, dtype: object

In [23]:
df.loc[df['posteam'] == "JAX"]

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
321419,241,2016091812,SD,JAX,JAX,away,SD,SD,35.0,2016-09-18,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
321420,263,2016091812,SD,JAX,JAX,away,SD,JAX,81.0,2016-09-18,...,00-0028067,J.Thomas,5.0,0,NaN,False Start,0.0,0.0,0.0,0.0
321421,286,2016091812,SD,JAX,JAX,away,SD,JAX,86.0,2016-09-18,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
321422,307,2016091812,SD,JAX,JAX,away,SD,JAX,87.0,2016-09-18,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
321423,331,2016091812,SD,JAX,JAX,away,SD,JAX,89.0,2016-09-18,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448476,3527,2018121606,JAX,WAS,JAX,home,WAS,MID,50.0,2018-12-16,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
448477,3550,2018121606,JAX,WAS,JAX,home,WAS,WAS,39.0,2018-12-16,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
448478,3572,2018121606,JAX,WAS,JAX,home,WAS,WAS,36.0,2018-12-16,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
448479,3594,2018121606,JAX,WAS,JAX,home,WAS,WAS,35.0,2018-12-16,...,00-0031339,D.Moncrief,10.0,0,NaN,Offensive Pass Interference,0.0,0.0,0.0,0.0
448480,3630,2018121606,JAX,WAS,JAX,home,WAS,WAS,45.0,2018-12-16,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0

In [24]:
df.sort_values(['score_differential_post'], ascending=[1])

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
15082,3559,2009101810,NE,TEN,TEN,away,NE,NE,46.0,2009-10-18,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
15101,3994,2009101810,NE,TEN,TEN,away,NE,TEN,60.0,2009-10-18,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
15095,3863,2009101810,NE,TEN,TEN,away,NE,TEN,98.0,2009-10-18,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
15094,3837,2009101810,NE,TEN,TEN,away,NE,TEN,80.0,2009-10-18,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
15093,3816,2009101810,NE,TEN,TEN,away,NE,TEN,79.0,2009-10-18,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449288,2098,2018121700,CAR,NO,NaN,NaN,NaN,NO,NaN,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
449292,2174,2018121700,CAR,NO,NaN,NaN,NaN,NO,NaN,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
449326,3096,2018121700,CAR,NO,NaN,NaN,NaN,NO,NaN,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
449356,3809,2018121700,CAR,NO,NaN,NaN,NaN,CAR,NaN,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
449370,4150,2018121700,CAR,NO,NaN,NaN,NaN,CAR,NaN,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df.describe()

,play_id,game_id,yardline_100,quarter_seconds_remaining,half_seconds_remaining,game_seconds_remaining,quarter_end,drive,sp,qtr,...,assist_tackle_4_team,fumble_recovery_1_yards,fumble_recovery_2_yards,return_yards,penalty_yards,replay_or_challenge,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
count,449371.000000,4.493710e+05,436301.000000,449230.000000,449206.000000,449208.000000,449371.000000,449371.000000,449371.000000,449371.000000,...,0.0,6026.000000,47.000000,449350.000000,32618.000000,449371.000000,436497.000000,436497.000000,436497.0,436497.0
mean,2140.689606,2.013620e+09,49.800658,413.968820,810.775709,1700.697033,0.017111,12.275053,0.072090,2.577696,...,NaN,2.302688,4.808511,1.042773,8.487829,0.001823,0.000069,0.000014,0.0,0.0
std,1240.303671,2.842246e+06,25.062131,279.137304,554.712205,1053.533368,0.129684,7.124626,0.258637,1.129958,...,NaN,9.066064,14.961746,5.462253,5.323953,0.042652,0.008290,0.003708,0.0,0.0
min,35.000000,2.009091e+09,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,...,NaN,-34.000000,-16.000000,-18.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
25%,1074.000000,2.011111e+09,31.000000,152.000000,286.000000,784.000000,0.000000,6.000000,0.000000,2.000000,...,NaN,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.0,0.0
50%,2125.000000,2.013123e+09,52.000000,396.000000,797.000000,1800.000000,0.000000,12.000000,0.000000,3.000000,...,NaN,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.0,0.0
75%,3180.000000,2.016103e+09,71.000000,656.000000,1288.000000,2583.000000,0.000000,18.000000,0.000000,4.000000,...,NaN,0.000000,4.000000,0.000000,10.000000,0.000000,0.000000,0.000000,0.0,0.0
max,5706.000000,2.018122e+09,99.000000,900.000000,1800.000000,3600.000000,1.000000,38.000000,1.000000,5.000000,...,NaN,93.000000,77.000000,109.000000,66.000000,1.000000,1.000000,1.000000,0.0,0.0

In [26]:
df.loc[df['play_type'] == "pass"]

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
6,183,2009091000,PIT,TEN,TEN,away,PIT,TEN,98.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
9,253,2009091000,PIT,TEN,PIT,home,TEN,TEN,43.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
10,277,2009091000,PIT,TEN,PIT,home,TEN,TEN,40.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449363,3980,2018121700,CAR,NO,CAR,home,NO,CAR,71.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449364,4002,2018121700,CAR,NO,CAR,home,NO,CAR,71.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449366,4059,2018121700,CAR,NO,CAR,home,NO,CAR,66.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449367,4081,2018121700,CAR,NO,CAR,home,NO,CAR,66.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449368,4106,2018121700,CAR,NO,CAR,home,NO,CAR,61.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0

In [27]:
df['pass_or_rush'] = (df['play_type'] == 'pass') |  (df['play_type'] == 'run')

In [28]:
print(df[['pass_or_rush', 'play_type']])

        pass_or_rush play_type
0              False   kickoff
1               True      pass
2               True       run
3               True      pass
4              False      punt
...              ...       ...
449366          True      pass
449367          True      pass
449368          True      pass
449369         False  qb_kneel
449370         False       NaN

[449371 rows x 2 columns]

In [29]:
df['play_type'].value_counts()
df['play_type'].isna().sum()

12874

In [30]:
df['pass_or_rush'].value_counts()

True     319369
False    130002
Name: pass_or_rush, dtype: int64

In [31]:
new_df = df.loc[(df['pass_or_rush'] == 1)]
new_df.to_csv('filtered_pass_rush.csv')

In [32]:
new_df.loc[~new_df['play_type'].str.contains('pass')]

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv,pass_or_rush
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0,True
5,162,2009091000,PIT,TEN,TEN,away,PIT,TEN,98.0,2009-09-10,...,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0,True
7,207,2009091000,PIT,TEN,TEN,away,PIT,TEN,94.0,2009-09-10,...,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0,True
11,301,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0,True
15,393,2009091000,PIT,TEN,TEN,away,PIT,TEN,89.0,2009-09-10,...,T.Polamalu,15.0,0,NaN,Unnecessary Roughness,0.0,0.0,0.0,0.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449352,3723,2018121700,CAR,NO,NO,away,CAR,CAR,22.0,2018-12-17,...,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0,True
449355,3787,2018121700,CAR,NO,NO,away,CAR,CAR,14.0,2018-12-17,...,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0,True
449357,3826,2018121700,CAR,NO,NO,away,CAR,CAR,11.0,2018-12-17,...,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0,True
449359,3865,2018121700,CAR,NO,NO,away,CAR,CAR,8.0,2018-12-17,...,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0,True
449361,3904,2018121700,CAR,NO,NO,away,CAR,CAR,5.0,2018-12-17,...,NaN,NaN,1,upheld,NaN,0.0,0.0,0.0,0.0,True

In [33]:
new_df['pass_length'].value_counts()

short    141549
deep      32314
Name: pass_length, dtype: int64

In [34]:
nfl_filter = df[['posteam', 'play_type', 'quarter_seconds_remaining', 'pass_length', 'pass_location', 'run_location', 'ydstogo', 'first_down_rush',
                 'yrdln', 'game_id', 'down', 'score_differential_post', 'incomplete_pass', 'complete_pass', 'rush_attempt', 'pass_attempt', 
                 'defteam', 'qtr', 'game_seconds_remaining', 'posteam_timeouts_remaining', 'defteam_timeouts_remaining',
                 'epa', 'wpa', 'yardline_100', 'half_seconds_remaining', 'goal_to_go', 'side_of_field',
                 'shotgun', 'drive', 'no_huddle', 'penalty']]

In [35]:
print(nfl_filter)

       posteam play_type  quarter_seconds_remaining pass_length pass_location  \
0          PIT   kickoff                      900.0         NaN           NaN
1          PIT      pass                      893.0       short          left
2          PIT       run                      856.0         NaN           NaN
3          PIT      pass                      815.0        deep         right
4          PIT      punt                      807.0         NaN           NaN
...        ...       ...                        ...         ...           ...
449366     CAR      pass                       63.0       short        middle
449367     CAR      pass                       58.0       short        middle
449368     CAR      pass                       38.0       short         right
449369      NO  qb_kneel                       35.0         NaN           NaN
449370     NaN       NaN                        0.0         NaN           NaN

       run_location  ydstogo  first_down_rush   yrdln     game_id  ...  \
0               NaN        0              0.0  TEN 30  2009091000  ...
1               NaN       10              0.0  PIT 42  2009091000  ...
2             right        5              0.0  PIT 47  2009091000  ...
3               NaN        8              0.0  PIT 44  2009091000  ...
4               NaN        8              0.0  PIT 44  2009091000  ...
...             ...      ...              ...     ...         ...  ...
449366          NaN       10              0.0  CAR 34  2018121700  ...
449367          NaN       10              0.0  CAR 34  2018121700  ...
449368          NaN        5              0.0  CAR 39  2018121700  ...
449369          NaN       10              0.0  CAR 39  2018121700  ...
449370          NaN        0              NaN  CAR 39  2018121700  ...

             epa       wpa  yardline_100  half_seconds_remaining  goal_to_go  \
0       2.014474       NaN          30.0                  1800.0         0.0
1       0.077907  0.004655          58.0                  1793.0         0.0
2      -1.402760 -0.040295          53.0                  1756.0         0.0
3      -1.712583 -0.049576          56.0                  1715.0         0.0
4       2.097796  0.097712          56.0                  1707.0         0.0
...          ...       ...           ...                     ...         ...
449366 -0.301121 -0.022194          66.0                    63.0         0.0
449367 -0.320799 -0.042281          66.0                    58.0         0.0
449368 -0.286672 -0.005457          61.0                    38.0         0.0
449369       NaN  0.026760          39.0                    35.0         0.0
449370       NaN  0.000000           NaN                     0.0         NaN

        side_of_field shotgun  drive  no_huddle  penalty
0                 TEN       0      1          0      0.0
1                 PIT       0      1          0      0.0
2                 PIT       0      1          0      0.0
3                 PIT       1      1          0      0.0
4                 PIT       0      1          0      0.0
...               ...     ...    ...        ...      ...
449366            CAR       1     20          0      0.0
449367            CAR       1     20          0      0.0
449368            CAR       1     20          1      0.0
449369            CAR       0     21          0      0.0
449370            CAR       0     21          0      NaN

[449371 rows x 31 columns]

In [36]:
df = nfl_filter

In [37]:
df

,posteam,play_type,quarter_seconds_remaining,pass_length,pass_location,run_location,ydstogo,first_down_rush,yrdln,game_id,...,epa,wpa,yardline_100,half_seconds_remaining,goal_to_go,side_of_field,shotgun,drive,no_huddle,penalty
0,PIT,kickoff,900.0,NaN,NaN,NaN,0,0.0,TEN 30,2009091000,...,2.014474,NaN,30.0,1800.0,0.0,TEN,0,1,0,0.0
1,PIT,pass,893.0,short,left,NaN,10,0.0,PIT 42,2009091000,...,0.077907,0.004655,58.0,1793.0,0.0,PIT,0,1,0,0.0
2,PIT,run,856.0,NaN,NaN,right,5,0.0,PIT 47,2009091000,...,-1.402760,-0.040295,53.0,1756.0,0.0,PIT,0,1,0,0.0
3,PIT,pass,815.0,deep,right,NaN,8,0.0,PIT 44,2009091000,...,-1.712583,-0.049576,56.0,1715.0,0.0,PIT,1,1,0,0.0
4,PIT,punt,807.0,NaN,NaN,NaN,8,0.0,PIT 44,2009091000,...,2.097796,0.097712,56.0,1707.0,0.0,PIT,0,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449366,CAR,pass,63.0,short,middle,NaN,10,0.0,CAR 34,2018121700,...,-0.301121,-0.022194,66.0,63.0,0.0,CAR,1,20,0,0.0
449367,CAR,pass,58.0,short,middle,NaN,10,0.0,CAR 34,2018121700,...,-0.320799,-0.042281,66.0,58.0,0.0,CAR,1,20,0,0.0
449368,CAR,pass,38.0,short,right,NaN,5,0.0,CAR 39,2018121700,...,-0.286672,-0.005457,61.0,38.0,0.0,CAR,1,20,1,0.0
449369,NO,qb_kneel,35.0,NaN,NaN,NaN,10,0.0,CAR 39,2018121700,...,NaN,0.026760,39.0,35.0,0.0,CAR,0,21,0,0.0
449370,NaN,NaN,0.0,NaN,NaN,NaN,0,NaN,CAR 39,2018121700,...,NaN,0.000000,NaN,0.0,NaN,CAR,0,21,0,NaN

In [38]:
df[((df['down'] == 1) & (df['ydstogo'] <= 12))]

,posteam,play_type,quarter_seconds_remaining,pass_length,pass_location,run_location,ydstogo,first_down_rush,yrdln,game_id,...,epa,wpa,yardline_100,half_seconds_remaining,goal_to_go,side_of_field,shotgun,drive,no_huddle,penalty
1,PIT,pass,893.0,short,left,NaN,10,0.0,PIT 42,2009091000,...,0.077907,0.004655,58.0,1793.0,0.0,PIT,0,1,0,0.0
5,TEN,run,796.0,NaN,NaN,middle,10,0.0,TEN 2,2009091000,...,-0.696302,-0.019524,98.0,1696.0,0.0,TEN,0,2,0,0.0
9,PIT,pass,684.0,short,right,NaN,10,0.0,TEN 43,2009091000,...,-0.215293,-0.006084,43.0,1584.0,0.0,TEN,0,3,0,0.0
11,PIT,run,621.0,NaN,NaN,right,10,0.0,TEN 30,2009091000,...,-0.542287,-0.017337,30.0,1521.0,0.0,TEN,0,3,0,0.0
15,TEN,run,500.0,NaN,NaN,right,10,1.0,TEN 11,2009091000,...,3.949258,0.121800,89.0,1400.0,0.0,TEN,0,4,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449351,NO,run,256.0,NaN,NaN,right,10,0.0,CAR 23,2018121700,...,-0.434537,0.005637,23.0,256.0,0.0,CAR,0,19,0,0.0
449357,NO,run,120.0,NaN,NaN,right,10,0.0,CAR 11,2018121700,...,-0.506573,-0.003023,11.0,120.0,0.0,CAR,0,19,0,0.0
449362,CAR,pass,104.0,short,right,NaN,10,0.0,CAR 20,2018121700,...,0.369128,-0.014833,80.0,104.0,0.0,CAR,1,20,0,0.0
449365,CAR,qb_spike,64.0,NaN,NaN,NaN,10,0.0,CAR 34,2018121700,...,-0.230611,-0.013129,66.0,64.0,0.0,CAR,0,20,1,0.0
449369,NO,qb_kneel,35.0,NaN,NaN,NaN,10,0.0,CAR 39,2018121700,...,NaN,0.026760,39.0,35.0,0.0,CAR,0,21,0,0.0

In [39]:
mask1 = df['down'] == 1
mask11 = df['ydstogo'] <= 12
mask2 = df['down'] == 2 
mask22 = df['ydstogo'] <= 5
mask3 = df['down'] == 3 
mask33 = df['ydstogo'] <= 2 
mask4 = df['down'] == 4 
mask44 = df['ydstogo'] <= 1

In [40]:
df['down_ydstogo'] = 0
df.loc[((mask1 & mask11) | (mask2 & mask22) | (mask3 & mask33) | (mask4 & mask44)), 'down_ydstogo'] = 1

In [41]:
df[df['down_ydstogo'] == 1]

,posteam,play_type,quarter_seconds_remaining,pass_length,pass_location,run_location,ydstogo,first_down_rush,yrdln,game_id,...,wpa,yardline_100,half_seconds_remaining,goal_to_go,side_of_field,shotgun,drive,no_huddle,penalty,down_ydstogo
1,PIT,pass,893.0,short,left,NaN,10,0.0,PIT 42,2009091000,...,0.004655,58.0,1793.0,0.0,PIT,0,1,0,0.0,1
2,PIT,run,856.0,NaN,NaN,right,5,0.0,PIT 47,2009091000,...,-0.040295,53.0,1756.0,0.0,PIT,0,1,0,0.0,1
5,TEN,run,796.0,NaN,NaN,middle,10,0.0,TEN 2,2009091000,...,-0.019524,98.0,1696.0,0.0,TEN,0,2,0,0.0,1
9,PIT,pass,684.0,short,right,NaN,10,0.0,TEN 43,2009091000,...,-0.006084,43.0,1584.0,0.0,TEN,0,3,0,0.0,1
11,PIT,run,621.0,NaN,NaN,right,10,0.0,TEN 30,2009091000,...,-0.017337,30.0,1521.0,0.0,TEN,0,3,0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449362,CAR,pass,104.0,short,right,NaN,10,0.0,CAR 20,2018121700,...,-0.014833,80.0,104.0,0.0,CAR,1,20,0,0.0,1
449363,CAR,pass,82.0,short,right,NaN,1,0.0,CAR 29,2018121700,...,-0.018787,71.0,82.0,0.0,CAR,1,20,1,0.0,1
449364,CAR,pass,77.0,short,middle,NaN,1,0.0,CAR 29,2018121700,...,-0.013465,71.0,77.0,0.0,CAR,1,20,0,0.0,1
449365,CAR,qb_spike,64.0,NaN,NaN,NaN,10,0.0,CAR 34,2018121700,...,-0.013129,66.0,64.0,0.0,CAR,0,20,1,0.0,1
449369,NO,qb_kneel,35.0,NaN,NaN,NaN,10,0.0,CAR 39,2018121700,...,0.026760,39.0,35.0,0.0,CAR,0,21,0,0.0,1

In [44]:
df['time_score'] = df['game_seconds_remaining']
df.loc[df['game_seconds_remaining'] < 900, 'time_score'] = \
    df['score_differential_post'] * df['score_differential_post'] * df['game_seconds_remaining']

In [45]:
df

,posteam,play_type,quarter_seconds_remaining,pass_length,pass_location,run_location,ydstogo,first_down_rush,yrdln,game_id,...,yardline_100,half_seconds_remaining,goal_to_go,side_of_field,shotgun,drive,no_huddle,penalty,down_ydstogo,time_score
0,PIT,kickoff,900.0,NaN,NaN,NaN,0,0.0,TEN 30,2009091000,...,30.0,1800.0,0.0,TEN,0,1,0,0.0,0,3600.0
1,PIT,pass,893.0,short,left,NaN,10,0.0,PIT 42,2009091000,...,58.0,1793.0,0.0,PIT,0,1,0,0.0,1,3593.0
2,PIT,run,856.0,NaN,NaN,right,5,0.0,PIT 47,2009091000,...,53.0,1756.0,0.0,PIT,0,1,0,0.0,1,3556.0
3,PIT,pass,815.0,deep,right,NaN,8,0.0,PIT 44,2009091000,...,56.0,1715.0,0.0,PIT,1,1,0,0.0,0,3515.0
4,PIT,punt,807.0,NaN,NaN,NaN,8,0.0,PIT 44,2009091000,...,56.0,1707.0,0.0,PIT,0,1,0,0.0,0,3507.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449366,CAR,pass,63.0,short,middle,NaN,10,0.0,CAR 34,2018121700,...,66.0,63.0,0.0,CAR,1,20,0,0.0,0,1575.0
449367,CAR,pass,58.0,short,middle,NaN,10,0.0,CAR 34,2018121700,...,66.0,58.0,0.0,CAR,1,20,0,0.0,0,1450.0
449368,CAR,pass,38.0,short,right,NaN,5,0.0,CAR 39,2018121700,...,61.0,38.0,0.0,CAR,1,20,1,0.0,0,950.0
449369,NO,qb_kneel,35.0,NaN,NaN,NaN,10,0.0,CAR 39,2018121700,...,39.0,35.0,0.0,CAR,0,21,0,0.0,1,875.0
449370,NaN,NaN,0.0,NaN,NaN,NaN,0,NaN,CAR 39,2018121700,...,NaN,0.0,NaN,CAR,0,21,0,NaN,0,NaN

In [46]:
df = df.loc[(df['play_type'] == 'pass') | (df['play_type'] == 'run')]

In [ ]:
df

,posteam,play_type,quarter_seconds_remaining,pass_length,pass_location,run_location,ydstogo,first_down_rush,yrdln,game_id,...,wpa,yardline_100,half_seconds_remaining,goal_to_go,side_of_field,shotgun,drive,no_huddle,penalty,down_ydstogo
1,PIT,pass,893.0,short,left,NaN,10,0.0,PIT 42,2009091000,...,0.004655,58.0,1793.0,0.0,PIT,0,1,0,0.0,1
2,PIT,run,856.0,NaN,NaN,right,5,0.0,PIT 47,2009091000,...,-0.040295,53.0,1756.0,0.0,PIT,0,1,0,0.0,1
3,PIT,pass,815.0,deep,right,NaN,8,0.0,PIT 44,2009091000,...,-0.049576,56.0,1715.0,0.0,PIT,1,1,0,0.0,0
5,TEN,run,796.0,NaN,NaN,middle,10,0.0,TEN 2,2009091000,...,-0.019524,98.0,1696.0,0.0,TEN,0,2,0,0.0,1
6,TEN,pass,760.0,short,left,NaN,10,0.0,TEN 2,2009091000,...,-0.004427,98.0,1660.0,0.0,TEN,0,2,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449363,CAR,pass,82.0,short,right,NaN,1,0.0,CAR 29,2018121700,...,-0.018787,71.0,82.0,0.0,CAR,1,20,1,0.0,1
449364,CAR,pass,77.0,short,middle,NaN,1,0.0,CAR 29,2018121700,...,-0.013465,71.0,77.0,0.0,CAR,1,20,0,0.0,1
449366,CAR,pass,63.0,short,middle,NaN,10,0.0,CAR 34,2018121700,...,-0.022194,66.0,63.0,0.0,CAR,1,20,0,0.0,0
449367,CAR,pass,58.0,short,middle,NaN,10,0.0,CAR 34,2018121700,...,-0.042281,66.0,58.0,0.0,CAR,1,20,0,0.0,0
449368,CAR,pass,38.0,short,right,NaN,5,0.0,CAR 39,2018121700,...,-0.005457,61.0,38.0,0.0,CAR,1,20,1,0.0,0

In [47]:
df = df.loc[df['ydstogo'] < 36]

In [ ]:
df

,posteam,play_type,quarter_seconds_remaining,pass_length,pass_location,run_location,ydstogo,first_down_rush,yrdln,game_id,...,wpa,yardline_100,half_seconds_remaining,goal_to_go,side_of_field,shotgun,drive,no_huddle,penalty,down_ydstogo
1,PIT,pass,893.0,short,left,NaN,10,0.0,PIT 42,2009091000,...,0.004655,58.0,1793.0,0.0,PIT,0,1,0,0.0,1
2,PIT,run,856.0,NaN,NaN,right,5,0.0,PIT 47,2009091000,...,-0.040295,53.0,1756.0,0.0,PIT,0,1,0,0.0,1
3,PIT,pass,815.0,deep,right,NaN,8,0.0,PIT 44,2009091000,...,-0.049576,56.0,1715.0,0.0,PIT,1,1,0,0.0,0
5,TEN,run,796.0,NaN,NaN,middle,10,0.0,TEN 2,2009091000,...,-0.019524,98.0,1696.0,0.0,TEN,0,2,0,0.0,1
6,TEN,pass,760.0,short,left,NaN,10,0.0,TEN 2,2009091000,...,-0.004427,98.0,1660.0,0.0,TEN,0,2,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449363,CAR,pass,82.0,short,right,NaN,1,0.0,CAR 29,2018121700,...,-0.018787,71.0,82.0,0.0,CAR,1,20,1,0.0,1
449364,CAR,pass,77.0,short,middle,NaN,1,0.0,CAR 29,2018121700,...,-0.013465,71.0,77.0,0.0,CAR,1,20,0,0.0,1
449366,CAR,pass,63.0,short,middle,NaN,10,0.0,CAR 34,2018121700,...,-0.022194,66.0,63.0,0.0,CAR,1,20,0,0.0,0
449367,CAR,pass,58.0,short,middle,NaN,10,0.0,CAR 34,2018121700,...,-0.042281,66.0,58.0,0.0,CAR,1,20,0,0.0,0
449368,CAR,pass,38.0,short,right,NaN,5,0.0,CAR 39,2018121700,...,-0.005457,61.0,38.0,0.0,CAR,1,20,1,0.0,0

In [48]:
df = df[~df[['pass_location', 'run_location']].notnull().all(1)]

In [ ]:
df

,posteam,play_type,quarter_seconds_remaining,pass_length,pass_location,run_location,ydstogo,first_down_rush,yrdln,game_id,...,wpa,yardline_100,half_seconds_remaining,goal_to_go,side_of_field,shotgun,drive,no_huddle,penalty,down_ydstogo
1,PIT,pass,893.0,short,left,NaN,10,0.0,PIT 42,2009091000,...,0.004655,58.0,1793.0,0.0,PIT,0,1,0,0.0,1
2,PIT,run,856.0,NaN,NaN,right,5,0.0,PIT 47,2009091000,...,-0.040295,53.0,1756.0,0.0,PIT,0,1,0,0.0,1
3,PIT,pass,815.0,deep,right,NaN,8,0.0,PIT 44,2009091000,...,-0.049576,56.0,1715.0,0.0,PIT,1,1,0,0.0,0
5,TEN,run,796.0,NaN,NaN,middle,10,0.0,TEN 2,2009091000,...,-0.019524,98.0,1696.0,0.0,TEN,0,2,0,0.0,1
6,TEN,pass,760.0,short,left,NaN,10,0.0,TEN 2,2009091000,...,-0.004427,98.0,1660.0,0.0,TEN,0,2,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449363,CAR,pass,82.0,short,right,NaN,1,0.0,CAR 29,2018121700,...,-0.018787,71.0,82.0,0.0,CAR,1,20,1,0.0,1
449364,CAR,pass,77.0,short,middle,NaN,1,0.0,CAR 29,2018121700,...,-0.013465,71.0,77.0,0.0,CAR,1,20,0,0.0,1
449366,CAR,pass,63.0,short,middle,NaN,10,0.0,CAR 34,2018121700,...,-0.022194,66.0,63.0,0.0,CAR,1,20,0,0.0,0
449367,CAR,pass,58.0,short,middle,NaN,10,0.0,CAR 34,2018121700,...,-0.042281,66.0,58.0,0.0,CAR,1,20,0,0.0,0
449368,CAR,pass,38.0,short,right,NaN,5,0.0,CAR 39,2018121700,...,-0.005457,61.0,38.0,0.0,CAR,1,20,1,0.0,0

In [49]:
mod_df = df

In [ ]:
mod_df

,posteam,play_type,quarter_seconds_remaining,pass_length,pass_location,run_location,ydstogo,first_down_rush,yrdln,game_id,...,wpa,yardline_100,half_seconds_remaining,goal_to_go,side_of_field,shotgun,drive,no_huddle,penalty,down_ydstogo
1,PIT,pass,893.0,short,left,NaN,10,0.0,PIT 42,2009091000,...,0.004655,58.0,1793.0,0.0,PIT,0,1,0,0.0,1
2,PIT,run,856.0,NaN,NaN,right,5,0.0,PIT 47,2009091000,...,-0.040295,53.0,1756.0,0.0,PIT,0,1,0,0.0,1
3,PIT,pass,815.0,deep,right,NaN,8,0.0,PIT 44,2009091000,...,-0.049576,56.0,1715.0,0.0,PIT,1,1,0,0.0,0
5,TEN,run,796.0,NaN,NaN,middle,10,0.0,TEN 2,2009091000,...,-0.019524,98.0,1696.0,0.0,TEN,0,2,0,0.0,1
6,TEN,pass,760.0,short,left,NaN,10,0.0,TEN 2,2009091000,...,-0.004427,98.0,1660.0,0.0,TEN,0,2,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449363,CAR,pass,82.0,short,right,NaN,1,0.0,CAR 29,2018121700,...,-0.018787,71.0,82.0,0.0,CAR,1,20,1,0.0,1
449364,CAR,pass,77.0,short,middle,NaN,1,0.0,CAR 29,2018121700,...,-0.013465,71.0,77.0,0.0,CAR,1,20,0,0.0,1
449366,CAR,pass,63.0,short,middle,NaN,10,0.0,CAR 34,2018121700,...,-0.022194,66.0,63.0,0.0,CAR,1,20,0,0.0,0
449367,CAR,pass,58.0,short,middle,NaN,10,0.0,CAR 34,2018121700,...,-0.042281,66.0,58.0,0.0,CAR,1,20,0,0.0,0
449368,CAR,pass,38.0,short,right,NaN,5,0.0,CAR 39,2018121700,...,-0.005457,61.0,38.0,0.0,CAR,1,20,1,0.0,0

In [ ]:
df = mod_df

In [50]:
df = df[~((df['incomplete_pass'] == 1) & (df['complete_pass'] == 1) & (df['play_type'] == 'pass'))]

In [ ]:
df

,posteam,play_type,quarter_seconds_remaining,pass_length,pass_location,run_location,ydstogo,first_down_rush,yrdln,game_id,...,wpa,yardline_100,half_seconds_remaining,goal_to_go,side_of_field,shotgun,drive,no_huddle,penalty,down_ydstogo
1,PIT,pass,893.0,short,left,NaN,10,0.0,PIT 42,2009091000,...,0.004655,58.0,1793.0,0.0,PIT,0,1,0,0.0,1
2,PIT,run,856.0,NaN,NaN,right,5,0.0,PIT 47,2009091000,...,-0.040295,53.0,1756.0,0.0,PIT,0,1,0,0.0,1
3,PIT,pass,815.0,deep,right,NaN,8,0.0,PIT 44,2009091000,...,-0.049576,56.0,1715.0,0.0,PIT,1,1,0,0.0,0
5,TEN,run,796.0,NaN,NaN,middle,10,0.0,TEN 2,2009091000,...,-0.019524,98.0,1696.0,0.0,TEN,0,2,0,0.0,1
6,TEN,pass,760.0,short,left,NaN,10,0.0,TEN 2,2009091000,...,-0.004427,98.0,1660.0,0.0,TEN,0,2,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449363,CAR,pass,82.0,short,right,NaN,1,0.0,CAR 29,2018121700,...,-0.018787,71.0,82.0,0.0,CAR,1,20,1,0.0,1
449364,CAR,pass,77.0,short,middle,NaN,1,0.0,CAR 29,2018121700,...,-0.013465,71.0,77.0,0.0,CAR,1,20,0,0.0,1
449366,CAR,pass,63.0,short,middle,NaN,10,0.0,CAR 34,2018121700,...,-0.022194,66.0,63.0,0.0,CAR,1,20,0,0.0,0
449367,CAR,pass,58.0,short,middle,NaN,10,0.0,CAR 34,2018121700,...,-0.042281,66.0,58.0,0.0,CAR,1,20,0,0.0,0
449368,CAR,pass,38.0,short,right,NaN,5,0.0,CAR 39,2018121700,...,-0.005457,61.0,38.0,0.0,CAR,1,20,1,0.0,0

In [ ]:
df

,posteam,play_type,quarter_seconds_remaining,pass_length,pass_location,run_location,ydstogo,first_down_rush,yrdln,game_id,...,wpa,yardline_100,half_seconds_remaining,goal_to_go,side_of_field,shotgun,drive,no_huddle,penalty,down_ydstogo
1,PIT,pass,893.0,short,left,NaN,10,0.0,PIT 42,2009091000,...,0.004655,58.0,1793.0,0.0,PIT,0,1,0,0.0,1
2,PIT,run,856.0,NaN,NaN,right,5,0.0,PIT 47,2009091000,...,-0.040295,53.0,1756.0,0.0,PIT,0,1,0,0.0,1
3,PIT,pass,815.0,deep,right,NaN,8,0.0,PIT 44,2009091000,...,-0.049576,56.0,1715.0,0.0,PIT,1,1,0,0.0,0
5,TEN,run,796.0,NaN,NaN,middle,10,0.0,TEN 2,2009091000,...,-0.019524,98.0,1696.0,0.0,TEN,0,2,0,0.0,1
6,TEN,pass,760.0,short,left,NaN,10,0.0,TEN 2,2009091000,...,-0.004427,98.0,1660.0,0.0,TEN,0,2,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449363,CAR,pass,82.0,short,right,NaN,1,0.0,CAR 29,2018121700,...,-0.018787,71.0,82.0,0.0,CAR,1,20,1,0.0,1
449364,CAR,pass,77.0,short,middle,NaN,1,0.0,CAR 29,2018121700,...,-0.013465,71.0,77.0,0.0,CAR,1,20,0,0.0,1
449366,CAR,pass,63.0,short,middle,NaN,10,0.0,CAR 34,2018121700,...,-0.022194,66.0,63.0,0.0,CAR,1,20,0,0.0,0
449367,CAR,pass,58.0,short,middle,NaN,10,0.0,CAR 34,2018121700,...,-0.042281,66.0,58.0,0.0,CAR,1,20,0,0.0,0
449368,CAR,pass,38.0,short,right,NaN,5,0.0,CAR 39,2018121700,...,-0.005457,61.0,38.0,0.0,CAR,1,20,1,0.0,0

In [51]:
df['pass_length'] = df['pass_length'].fillna('n/a')
df['pass_location'] = df['pass_location'].fillna('n/a')
df['run_location'] = df['run_location'].fillna('n/a')
df['defteam'] = df['defteam'].fillna('n/a')
df['side_of_field'] = df['side_of_field'].fillna('n/a')
df['yrdln'] = df['yrdln'].fillna('n/a')

C:\Users\bootcamp\AppData\Local\Temp\ipykernel_12088\3671762244.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pass_length'] = df['pass_length'].fillna('n/a')
C:\Users\bootcamp\AppData\Local\Temp\ipykernel_12088\3671762244.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pass_location'] = df['pass_location'].fillna('n/a')
C:\Users\bootcamp\AppData\Local\Temp\ipykernel_12088\3671762244.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['run_location'] = df['run_location'].fillna('n/a')
C:\Users\bootcamp\AppData\Local\Temp\ipykernel_12088\3671762244.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['defteam'] = df['defteam'].fillna('n/a')
C:\Users\bootcamp\AppData\Local\Temp\ipykernel_12088\3671762244.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['side_of_field'] = df['side_of_field'].fillna('n/a')
C:\Users\bootcamp\AppData\Local\Temp\ipykernel_12088\3671762244.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['yrdln'] = df['yrdln'].fillna('n/a')

In [ ]:
df

,posteam,play_type,quarter_seconds_remaining,pass_length,pass_location,run_location,ydstogo,first_down_rush,yrdln,game_id,...,wpa,yardline_100,half_seconds_remaining,goal_to_go,side_of_field,shotgun,drive,no_huddle,penalty,down_ydstogo
1,PIT,pass,893.0,short,left,n/a,10,0.0,PIT 42,2009091000,...,0.004655,58.0,1793.0,0.0,PIT,0,1,0,0.0,1
2,PIT,run,856.0,n/a,n/a,right,5,0.0,PIT 47,2009091000,...,-0.040295,53.0,1756.0,0.0,PIT,0,1,0,0.0,1
3,PIT,pass,815.0,deep,right,n/a,8,0.0,PIT 44,2009091000,...,-0.049576,56.0,1715.0,0.0,PIT,1,1,0,0.0,0
5,TEN,run,796.0,n/a,n/a,middle,10,0.0,TEN 2,2009091000,...,-0.019524,98.0,1696.0,0.0,TEN,0,2,0,0.0,1
6,TEN,pass,760.0,short,left,n/a,10,0.0,TEN 2,2009091000,...,-0.004427,98.0,1660.0,0.0,TEN,0,2,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449363,CAR,pass,82.0,short,right,n/a,1,0.0,CAR 29,2018121700,...,-0.018787,71.0,82.0,0.0,CAR,1,20,1,0.0,1
449364,CAR,pass,77.0,short,middle,n/a,1,0.0,CAR 29,2018121700,...,-0.013465,71.0,77.0,0.0,CAR,1,20,0,0.0,1
449366,CAR,pass,63.0,short,middle,n/a,10,0.0,CAR 34,2018121700,...,-0.022194,66.0,63.0,0.0,CAR,1,20,0,0.0,0
449367,CAR,pass,58.0,short,middle,n/a,10,0.0,CAR 34,2018121700,...,-0.042281,66.0,58.0,0.0,CAR,1,20,0,0.0,0
449368,CAR,pass,38.0,short,right,n/a,5,0.0,CAR 39,2018121700,...,-0.005457,61.0,38.0,0.0,CAR,1,20,1,0.0,0

In [52]:
df = df.dropna()

In [53]:
df.isna().sum()

posteam                       0
play_type                     0
quarter_seconds_remaining     0
pass_length                   0
pass_location                 0
run_location                  0
ydstogo                       0
first_down_rush               0
yrdln                         0
game_id                       0
down                          0
score_differential_post       0
incomplete_pass               0
complete_pass                 0
rush_attempt                  0
pass_attempt                  0
defteam                       0
qtr                           0
game_seconds_remaining        0
posteam_timeouts_remaining    0
defteam_timeouts_remaining    0
epa                           0
wpa                           0
yardline_100                  0
half_seconds_remaining        0
goal_to_go                    0
side_of_field                 0
shotgun                       0
drive                         0
no_huddle                     0
penalty                       0
down_ydstogo                  0
time_score                    0
dtype: int64

In [ ]:
df

,posteam,play_type,quarter_seconds_remaining,pass_length,pass_location,run_location,ydstogo,first_down_rush,yrdln,game_id,...,wpa,yardline_100,half_seconds_remaining,goal_to_go,side_of_field,shotgun,drive,no_huddle,penalty,down_ydstogo
1,PIT,pass,893.0,short,left,n/a,10,0.0,PIT 42,2009091000,...,0.004655,58.0,1793.0,0.0,PIT,0,1,0,0.0,1
2,PIT,run,856.0,n/a,n/a,right,5,0.0,PIT 47,2009091000,...,-0.040295,53.0,1756.0,0.0,PIT,0,1,0,0.0,1
3,PIT,pass,815.0,deep,right,n/a,8,0.0,PIT 44,2009091000,...,-0.049576,56.0,1715.0,0.0,PIT,1,1,0,0.0,0
5,TEN,run,796.0,n/a,n/a,middle,10,0.0,TEN 2,2009091000,...,-0.019524,98.0,1696.0,0.0,TEN,0,2,0,0.0,1
6,TEN,pass,760.0,short,left,n/a,10,0.0,TEN 2,2009091000,...,-0.004427,98.0,1660.0,0.0,TEN,0,2,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449363,CAR,pass,82.0,short,right,n/a,1,0.0,CAR 29,2018121700,...,-0.018787,71.0,82.0,0.0,CAR,1,20,1,0.0,1
449364,CAR,pass,77.0,short,middle,n/a,1,0.0,CAR 29,2018121700,...,-0.013465,71.0,77.0,0.0,CAR,1,20,0,0.0,1
449366,CAR,pass,63.0,short,middle,n/a,10,0.0,CAR 34,2018121700,...,-0.022194,66.0,63.0,0.0,CAR,1,20,0,0.0,0
449367,CAR,pass,58.0,short,middle,n/a,10,0.0,CAR 34,2018121700,...,-0.042281,66.0,58.0,0.0,CAR,1,20,0,0.0,0
449368,CAR,pass,38.0,short,right,n/a,5,0.0,CAR 39,2018121700,...,-0.005457,61.0,38.0,0.0,CAR,1,20,1,0.0,0

In [54]:
df['posteam_f'] = pd.factorize(df['posteam'])[0]
df

,posteam,play_type,quarter_seconds_remaining,pass_length,pass_location,run_location,ydstogo,first_down_rush,yrdln,game_id,...,half_seconds_remaining,goal_to_go,side_of_field,shotgun,drive,no_huddle,penalty,down_ydstogo,time_score,posteam_f
1,PIT,pass,893.0,short,left,n/a,10,0.0,PIT 42,2009091000,...,1793.0,0.0,PIT,0,1,0,0.0,1,3593.0,0
2,PIT,run,856.0,n/a,n/a,right,5,0.0,PIT 47,2009091000,...,1756.0,0.0,PIT,0,1,0,0.0,1,3556.0,0
3,PIT,pass,815.0,deep,right,n/a,8,0.0,PIT 44,2009091000,...,1715.0,0.0,PIT,1,1,0,0.0,0,3515.0,0
5,TEN,run,796.0,n/a,n/a,middle,10,0.0,TEN 2,2009091000,...,1696.0,0.0,TEN,0,2,0,0.0,1,3496.0,1
6,TEN,pass,760.0,short,left,n/a,10,0.0,TEN 2,2009091000,...,1660.0,0.0,TEN,0,2,0,0.0,0,3460.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449363,CAR,pass,82.0,short,right,n/a,1,0.0,CAR 29,2018121700,...,82.0,0.0,CAR,1,20,1,0.0,1,2050.0,14
449364,CAR,pass,77.0,short,middle,n/a,1,0.0,CAR 29,2018121700,...,77.0,0.0,CAR,1,20,0,0.0,1,1925.0,14
449366,CAR,pass,63.0,short,middle,n/a,10,0.0,CAR 34,2018121700,...,63.0,0.0,CAR,1,20,0,0.0,0,1575.0,14
449367,CAR,pass,58.0,short,middle,n/a,10,0.0,CAR 34,2018121700,...,58.0,0.0,CAR,1,20,0,0.0,0,1450.0,14
449368,CAR,pass,38.0,short,right,n/a,5,0.0,CAR 39,2018121700,...,38.0,0.0,CAR,1,20,1,0.0,0,950.0,14

In [55]:
df['play_type_f'] = pd.factorize(df['play_type'])[0]
df['pass_length_f'] = pd.factorize(df['pass_length'])[0]
df['pass_location_f'] = pd.factorize(df['pass_location'])[0]
df['run_location_f'] = pd.factorize(df['run_location'])[0]
df['defteam_f'] = pd.factorize(df['defteam'])[0]
df['side_of_field_f'] = pd.factorize(df['side_of_field'])[0]
df['yrdln_f'] = pd.factorize(df['yrdln'])[0]

In [56]:
rush_pass_ratio = df.groupby('posteam').sum()['play_type_f'] / df.groupby('posteam').count()['play_type_f']

C:\Users\bootcamp\AppData\Local\Temp\ipykernel_12088\3033130003.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  rush_pass_ratio = df.groupby('posteam').sum()['play_type_f'] / df.groupby('posteam').count()['play_type_f']

In [57]:
rp_ratio_dict = rush_pass_ratio.to_dict()

In [58]:
df['posteam_rp_ratio'] = df['posteam'].map(rp_ratio_dict)

In [ ]:
df

,posteam,play_type,quarter_seconds_remaining,pass_length,pass_location,run_location,ydstogo,first_down_rush,yrdln,game_id,...,down_ydstogo,posteam_f,play_type_f,pass_length_f,pass_location_f,run_location_f,defteam_f,side_of_field_f,yrdln_f,posteam_rp_ratio
1,PIT,pass,893.0,short,left,n/a,10,0.0,PIT 42,2009091000,...,1,0,0,0,0,0,0,0,0,0.399597
2,PIT,run,856.0,n/a,n/a,right,5,0.0,PIT 47,2009091000,...,1,0,1,1,1,1,0,0,1,0.399597
3,PIT,pass,815.0,deep,right,n/a,8,0.0,PIT 44,2009091000,...,0,0,0,2,2,0,0,0,2,0.399597
5,TEN,run,796.0,n/a,n/a,middle,10,0.0,TEN 2,2009091000,...,1,1,1,1,1,2,1,1,3,0.433429
6,TEN,pass,760.0,short,left,n/a,10,0.0,TEN 2,2009091000,...,0,1,0,0,0,0,1,1,3,0.433429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449363,CAR,pass,82.0,short,right,n/a,1,0.0,CAR 29,2018121700,...,1,14,0,0,2,0,5,15,446,0.457861
449364,CAR,pass,77.0,short,middle,n/a,1,0.0,CAR 29,2018121700,...,1,14,0,0,3,0,5,15,446,0.457861
449366,CAR,pass,63.0,short,middle,n/a,10,0.0,CAR 34,2018121700,...,0,14,0,0,3,0,5,15,458,0.457861
449367,CAR,pass,58.0,short,middle,n/a,10,0.0,CAR 34,2018121700,...,0,14,0,0,3,0,5,15,458,0.457861
449368,CAR,pass,38.0,short,right,n/a,5,0.0,CAR 39,2018121700,...,0,14,0,0,2,0,5,15,472,0.457861

In [ ]:
#df = df.drop('yrdln', axis=1)

In [ ]:
df

,posteam,play_type,quarter_seconds_remaining,pass_length,pass_location,run_location,ydstogo,first_down_rush,yrdln,game_id,...,down_ydstogo,posteam_f,play_type_f,pass_length_f,pass_location_f,run_location_f,defteam_f,side_of_field_f,yrdln_f,posteam_rp_ratio
1,PIT,pass,893.0,short,left,n/a,10,0.0,PIT 42,2009091000,...,1,0,0,0,0,0,0,0,0,0.399597
2,PIT,run,856.0,n/a,n/a,right,5,0.0,PIT 47,2009091000,...,1,0,1,1,1,1,0,0,1,0.399597
3,PIT,pass,815.0,deep,right,n/a,8,0.0,PIT 44,2009091000,...,0,0,0,2,2,0,0,0,2,0.399597
5,TEN,run,796.0,n/a,n/a,middle,10,0.0,TEN 2,2009091000,...,1,1,1,1,1,2,1,1,3,0.433429
6,TEN,pass,760.0,short,left,n/a,10,0.0,TEN 2,2009091000,...,0,1,0,0,0,0,1,1,3,0.433429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449363,CAR,pass,82.0,short,right,n/a,1,0.0,CAR 29,2018121700,...,1,14,0,0,2,0,5,15,446,0.457861
449364,CAR,pass,77.0,short,middle,n/a,1,0.0,CAR 29,2018121700,...,1,14,0,0,3,0,5,15,446,0.457861
449366,CAR,pass,63.0,short,middle,n/a,10,0.0,CAR 34,2018121700,...,0,14,0,0,3,0,5,15,458,0.457861
449367,CAR,pass,58.0,short,middle,n/a,10,0.0,CAR 34,2018121700,...,0,14,0,0,3,0,5,15,458,0.457861
449368,CAR,pass,38.0,short,right,n/a,5,0.0,CAR 39,2018121700,...,0,14,0,0,2,0,5,15,472,0.457861

In [59]:
df.to_csv('NFL_Python_Filtered.csv', index=False)

In [ ]:
df

,posteam,play_type,quarter_seconds_remaining,pass_length,pass_location,run_location,ydstogo,first_down_rush,yrdln,game_id,...,down_ydstogo,posteam_f,play_type_f,pass_length_f,pass_location_f,run_location_f,defteam_f,side_of_field_f,yrdln_f,posteam_rp_ratio
1,PIT,pass,893.0,short,left,n/a,10,0.0,PIT 42,2009091000,...,1,0,0,0,0,0,0,0,0,0.399597
2,PIT,run,856.0,n/a,n/a,right,5,0.0,PIT 47,2009091000,...,1,0,1,1,1,1,0,0,1,0.399597
3,PIT,pass,815.0,deep,right,n/a,8,0.0,PIT 44,2009091000,...,0,0,0,2,2,0,0,0,2,0.399597
5,TEN,run,796.0,n/a,n/a,middle,10,0.0,TEN 2,2009091000,...,1,1,1,1,1,2,1,1,3,0.433429
6,TEN,pass,760.0,short,left,n/a,10,0.0,TEN 2,2009091000,...,0,1,0,0,0,0,1,1,3,0.433429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449363,CAR,pass,82.0,short,right,n/a,1,0.0,CAR 29,2018121700,...,1,14,0,0,2,0,5,15,446,0.457861
449364,CAR,pass,77.0,short,middle,n/a,1,0.0,CAR 29,2018121700,...,1,14,0,0,3,0,5,15,446,0.457861
449366,CAR,pass,63.0,short,middle,n/a,10,0.0,CAR 34,2018121700,...,0,14,0,0,3,0,5,15,458,0.457861
449367,CAR,pass,58.0,short,middle,n/a,10,0.0,CAR 34,2018121700,...,0,14,0,0,3,0,5,15,458,0.457861
449368,CAR,pass,38.0,short,right,n/a,5,0.0,CAR 39,2018121700,...,0,14,0,0,2,0,5,15,472,0.457861